<div class="container card p-6 mt-5">
    <h1 class="title has-text-link">Password Generator</h1>
    <div class="field">
        <label class="label" for="length">Enter length: </label>
        <input class="input" #length (input)="onChangeLength(length.value)" id="length">
    </div>

    <div>
        <label class="checkbox d-block">
            <input (change)="onLetterChange()" type="checkbox">
            Use letters
        </label>
    </div>

    <div>
        <label class="checkbox">
            <input (change)="onNumbersChange()" type="checkbox">
            Use numbers
        </label>
    </div>

    <div>
        <label class="checkbox">
            <input (change)="onSymbolsChange()" type="checkbox">
            Use symbols
        </label>
    </div>
        
    <button class="button is-link is-fullwidth mt-4 mb-4" [disabled]="!(length && includeLetters || includeNumbers || includeSymbols)"
        (click)="onButtonClicked()">Generate!</button>

    <div class="field box" *ngIf="password">
        <label class="label" for="password">Your Password </label>
        <input class="input" type="text" id="password" [value]="password">
    </div>
</div>